// === Computation ===

.computationList {
  margin-bottom: $spacing-default;
}

.computationItem {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: $spacing-half;

  h3 {
    font-size: $font-size-xlarge;
  }
}

// === Entity ===

.entityItem {
  margin-bottom: $spacing-default;
  overflow: auto;
  padding: 0 $spacing-half;

  h3 {
    a {
      color: inherit;
    }
  }

  &.scenarioDominantEntity {
    h3 {
      font-size: $font-size-xlarge;
      margin-bottom: $spacing-default;
    }

    .description {
      @include line-clamp(8);
    }
  }

  &.scenarioDisambiguationItem {
    border-top: $border-width solid #eee;
    padding-top: $spacing-default;

    h3 {
      // TODO: variable
      font-size: $font-size-small;
      font-weight: bold;
    }

    .description {
      @include line-clamp(3);
    }
  }

  img {
    float: right;
    margin-left: $spacing-half;
  }

  .description {
    // TODO: variable
    font-size: $font-size-small;
  }
}

// === Image ===

.imageList {
  margin-bottom: $spacing-default;

  .imageItems {
    display: flex;
    flex-wrap: wrap;
  }

  .main & {
    .imageItem {
      height: 125px;
    }
  }

  .sidebar & {
    margin-top: -$spacing-half;

    .sectionTitle {
      display: none;
    }
  }
}

.imageItem {
  height: 100px;
  flex-grow: 1;

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
  }
}

// === Place ===

.placeList {
  @extend .roundedRect;
  padding: 0;

  .placeListMap {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .placeItem {
    border-top: $border-width solid #eee;
    overflow: auto;
    padding: $spacing-half;

    &:hover {
      background: $color-gray-xlight;
      cursor: pointer;

      a {
        text-decoration: underline;
      }
    }

    .image {
      border-radius: $border-radius / 2;
      float: right;
      height: 80px;
      overflow: hidden;
      width: 80px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .name {
      margin-bottom: 2px;

      a {
        color: #000;
      }
    }

    .stars {
      $offset: -520px;
      $line-height: 16px;
      background-image: url(/images/yelp-stars.png);
      background-position: 0 $offset;
      display: inline-block;
      height: 16px;
      vertical-align: -3px;
      width: 88px;

      &.rating-1 {
        background-position: 0 ($offset - 1 * $line-height);
      }

      &.rating-1-5 {
        background-position: 0 ($offset - 2 * $line-height);
      }

      &.rating-2 {
        background-position: 0 ($offset - 3 * $line-height);
      }

      &.rating-2-5 {
        background-position: 0 ($offset - 4 * $line-height);
      }

      &.rating-3 {
        background-position: 0 ($offset - 5 * $line-height);
      }

      &.rating-3-5 {
        background-position: 0 ($offset - 6 * $line-height);
      }

      &.rating-4 {
        background-position: 0 ($offset - 7 * $line-height);
      }

      &.rating-4-5 {
        background-position: 0 ($offset - 8 * $line-height);
      }

      &.rating-5 {
        background-position: 0 ($offset - 9 * $line-height);
      }
    }

    .rating,
    .info,
    .contact {
      color: #888;
      font-size: $font-size-small;
    }
  }
}

// === Related Search ===

.relatedSearchList {
  margin-bottom: $spacing-default;
}

.relatedSearchItem {
  border-bottom: $border-width solid #eee;
  font-size: $font-size-small;
  padding: $spacing-half;

  &:last-child {
    border: 0;
  }
}

// === Results Section ===

.sectionTitle {
  font-size: $font-size-large;
  margin-bottom: $spacing-half;
  padding-left: $spacing-half;

  &.warning {
    border: 2px solid yellow;
    padding: $spacing-half;
  }
}

// === Search Box ===

.searchBox {
  position: relative;

  input {
    border: $border-width solid #bbb;
    font-size: $font-size-default;
    padding: $spacing-half ($spacing-half - 1);
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  button {
    background: none;
    border: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: #888;
    }
  }

  .suggestions {
    background: $color-white;
    border: 1px solid #bbb;
    margin-top: -1px;
    position: absolute;
    width: 100%;
    z-index: 100;

    li {
      padding: $spacing-half;

      &:hover {
        background: $color-gray-xlight;
      }

      &.selected {
        background: #eee;
      }
    }
  }
}

// === Spell Check ===

.spellCheck {
  margin: 0 $spacing-half $spacing-default $spacing-half;

  h2 {
    font-size: 18px;

    a {
      font-weight: bold;
    }
  }

  h3 {
    font-size: 14px;
  }
}

// === Time Zone ===

.timeZoneItem {
  border: $border-width solid #eee;
  border-radius: $border-radius;
  margin-bottom: $spacing-default;
  padding: $spacing-half;

  .time {
    font-size: 30px;
    margin-bottom: $spacing-half;
  }

  .date,
  .location {
    color: #777;
  }
}

// === Web Page ===

.webPage {
  margin-bottom: $spacing-default;
  padding-left: $spacing-half;

  > * {
    margin-bottom: $spacing-default / 4;
  }

  .name {
    font-size: $font-size-large;
  }

  .displayUrl {
    @include line-clamp(1);
    // TODO: variable
    color: #006621;
  }

  .snippet {
    // TODO: variable
    font-size: $font-size-small;
  }
}

// === Wikipedia ===

.wikipedia {
  @extend .roundedRect;

  .content {
    padding: $spacing-default $spacing-half;
  }

  h3 {
    font-size: $font-size-xlarge;
    margin-bottom: $spacing-default;
  }

  .summary {
    font-size: $font-size-small;

    img {
      border-radius: $border-radius / 2;
      float: right;
      margin: 0 0 $spacing-half $spacing-half;
      width: 85px;
    }
  }

  .infoBox {
    font-size: $font-size-small;
    margin-top: $spacing-default;

    div + br {
      display: none;
    }

    table {
      width: 100%;

      tr {
        border-top: 1px solid #eee;
        width: 100%;

        &.mergedrow {
          border: 0;

          th,
          td {
            padding: 4px 4px;
          }
        }

        th,
        td {
          padding: 8px 4px;
        }

        th {
          text-align: left;

          a {
            color: inherit;
          }
        }
      }
    }
  }
}

.simpleAnswer {
  h3 {
    font-size: $font-size-xlarge;
  }

  .subtitle {
    margin-top: $spacing-half;
  }
}

// === Weather ===

.weatherItem {
  @extend .roundedRect;
  position: relative;

  .location {
    font-size: $font-size-large;
  }

  .status {
    color: #777;
    font-size: $font-size-small;
  }

  .current {
    padding: $spacing-default $spacing-default $spacing-half $spacing-default;

    .details {
      margin-top: $spacing-default;
      display: flex;

      .temp {
        flex: 1;
        font-size: $font-size-xxlarge;
        padding-right: $spacing-half;
        white-space: nowrap;

        img {
          vertical-align: -15px;
          margin-right: 8px;
        }

        .scale {
          font-size: $font-size-default;
          vertical-align: 23px;
        }
      }

      .more {
        flex: 1;
        color: #777;
        font-size: $font-size-small;
        padding-top: 10px;
      }
    }
  }

  .hourly {
    .chart {
      margin: 0 $spacing-half;
    }

    .hours {
      display: flex;
      margin: $spacing-half 0;

      .hour {
        flex: 1;
        text-align: center;
        font-size: $font-size-small;

        .temp {
          font-weight: bold;
        }

        .name {
          color: #777;
        }
      }
    }
  }

  .days {
    border-top: 1px solid #eee;
    display: flex;

    .day {
      padding: $spacing-default 0;
      border-right: 1px solid #eee;
      flex: 1;
      text-align: center;

      &:first-child {
        background-color: $color-gray-xlight;
      }

      &:last-child {
        border-right: 0;
      }

      .name {
        font-size: $font-size-small;
      }

      .high {
        font-size: $font-size-large;
        font-weight: bold;
        padding-bottom: 4px;
      }

      .low {
        color: #777;
      }

      .icon {
        padding: $spacing-half / 2 0;
      }
    }
  }
}

// === Shared ===

.roundedRect {
  border: $border-width solid #eee;
  border-radius: $border-radius;
  overflow: hidden;
  margin-top: $spacing-default;
  margin-bottom: $spacing-default;

  &:first-child {
    margin-top: 0;
  }

  .main & {
    margin-left: $spacing-half;
    margin-right: $spacing-half;
  }
}

.source {
  font-size: $font-size-small;
  margin-top: $spacing-half;

  a {
    color: #555;
    cursor: pointer;
  }

  img {
    vertical-align: -3px;
  }
}

footer.more {
  @extend .source;
  border-top: 1px solid #eee;
  margin: 0;
  padding: $spacing-half;
}
