.indexPage {
  background: $color-gray-light;
  height: 100vh;

  header {
    height: 100%;
    padding: 100px $spacing-default $spacing-default $spacing-default;
    position: absolute;
    width: 100%;

    a:hover {
      text-decoration: none;
    }

    h1 {
      font-size: $font-size-xxlarge;
      line-height: $line-height;
      text-align: center;
      margin-bottom: $spacing-half;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
    }

    .snippet {
      font-size: $font-size-small;
      padding-top: $spacing-default;
      text-align: center;

      div {
        border-radius: $spacing-default;
        display: inline-block;
        padding: 5px 16px;
        transition: 250ms;

        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  @include respond-to($break-medium) {
    header {
      padding-top: 200px;

      h1 {
        font-size: $font-size-hero;
        margin-bottom: $spacing-default;
      }
    }
  }
}

.searchPage {
  $left-gutter-width: 150px;
  $main-column-width: 650px;

  header {
    background: $color-gray-light;
    border-bottom: $border-width solid #e9e9e9;
    padding: $spacing-half;

    h1 {
      padding: $spacing-half 0 $spacing-default 0;
      text-align: center;
    }

    .searchBox {
      width: 100%;
    }

    @include respond-to($break-large) {
      display: flex;
      padding: $spacing-default 0;

      h1 {
        padding: 8px 0 0 $spacing-default;
        text-align: left;
        width: $left-gutter-width;
      }

      .searchBox {
        width: $main-column-width;
      }
    }
  }

  .results {
    margin-bottom: $spacing-default;
    max-width: 1200px;
    padding: $spacing-half;

    @include respond-to($break-large) {
      padding-left: $left-gutter-width;

      .columns {
        display: flex;

        .main {
          order: 0;
          width: $main-column-width;
        }

        .sidebar {
          flex: 1;
          margin-top: 0;
          order: 1;
        }
      }
    }

    > .info {
      margin-bottom: $spacing-default;
      padding-left: $spacing-half;

      .stats {
        color: #888;
        font-size: $font-size-small;
      }
    }

    .top {
      border-bottom: 1px solid #eee;
      margin-bottom: $spacing-default;
      padding: $spacing-default $spacing-half;

      .inner {
        display: flex;
      }
    }

    .sidebar {
      margin: $spacing-default 0;
    }
  }
}
