.indexPage {
  background: #222;
  height: 100vh;

  img {
    animation: 750ms ease-out fadein;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;

  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  header {
    background: radial-gradient(circle at 50% 45%, rgba(0,0,0,0.2), rgba(0,0,0,0.7));
    height: 100%;
    padding: 100px $spacing-default $spacing-default $spacing-default;
    position: absolute;
    width: 100%;

    a:hover {
      text-decoration: none;
    }

    h1 {
      color: #fff;
      font-size: $font-size-xxlarge;
      line-height: $line-height;
      text-align: center;
      text-shadow: 0 2px 6px rgba(0,0,0,0.6);
      margin-bottom: $spacing-half;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
    }

    input, .suggestions {
      border: 0;
      box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    }

    .snippet {
      color: #fff;
      font-size: $font-size-small;
      padding-top: $spacing-default;
      text-align: center;
      text-shadow: 0 1px 4px rgba(0,0,0,0.8);

      div {
        border-radius: $spacing-default;
        display: inline-block;
        padding: 5px 16px;
        transition: 250ms;

        &:hover {
          background: rgba(0,0,0,0.5);
        }

        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  @include respond-to($break-medium) {
    header {
      padding-top: 200px;

      h1 {
        font-size: $font-size-hero;
        margin-bottom: $spacing-default;
      }
    }
  }
}

.searchPage {
  $left-gutter-width: 150px;
  $main-column-width: 650px;

  header {
    background: $color-gray-xlight;
    border-bottom: $border-width solid #eee;
    padding: $spacing-half;

    h1 {
      padding: $spacing-half 0 $spacing-default 0;
      text-align: center;
    }

    .searchBox {
      width: 100%;
    }

    @include respond-to($break-large) {
      display: flex;
      padding: $spacing-default 0;

      h1 {
        padding: 8px 0 0 $spacing-default;
        text-align: left;
        width: $left-gutter-width;
      }

      .searchBox {
        width: $main-column-width;
      }
    }
  }

  .results {
    margin-bottom: $spacing-default;
    max-width: 1200px;
    padding: $spacing-half;

    @include respond-to($break-large) {
      padding-left: $left-gutter-width;

      .columns {
        display: flex;

        .main {
          order: 0;
          width: $main-column-width;
          padding-top: $spacing-half;
        }

        .sidebar {
          flex: 1;
          margin-top: 0;
          order: 1;
        }
      }
    }

    > .info {
      margin-bottom: $spacing-half;
      padding-left: $spacing-half;

      .stats {
        color: #ccc;
        font-size: $font-size-small;
      }
    }

    .top {
      margin-bottom: $spacing-default;

      .inner {
        display: flex;
      }
    }

    .sidebar {
      margin: $spacing-default 0;
    }
  }
}
